@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.header-title{
  width: auto;
  height: 50px;
  padding: 20px;
  background-color: grey;
  color: white;
}
.new-project-button{
  text-align: center;
}

.title-image{
  width:450px;
  height:250px;
  background-color: aqua;
}

.card-container {
  float: left;
  position: relative;
  width: 330px;
  height: 450px;
  margin-right: 2%;
  margin-bottom:30px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-cover {
  height: 250px;
  position: relative;
}

.cover-image {
  height: 250px;
  width: 330px;
}

.member-icons {
  bottom: 2px;
  right: 4px;
  position: absolute;
}

.member-icons li {
  display: inline;
  list-style-type: none;
}

.member-icon {
  width: 20px;
  height: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.owner-icon {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.card-infos {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  position: relative;
  height: 200px;
}

.card-taglist {
  padding-left: 0px;
}

.card-taglist li {
  display: inline;
  list-style-type: none;
}

.card-footer li {
  display: inline;
  list-style-type: none;
  color: #ffffff;
}

.card-footer {
  position: absolute;
  padding-left: 0px;
  bottom: 20px;
  
}

.gallery-viewer {
  width: 500px;
  height: 300px;
}

.gallery-nav-thumbs {
  padding-left: 0px;
}

.gallery-nav-thumb {
  display: inline;
  list-style-type: none;
}

.gallery-thumb {
  width: 100px;
  height: 75px;
}

.gallery-thumb-cover {
  border-style: solid;
  border-color: red;
  border-width: 4px;
}

.big-img {
  width: 500px;
  height: 300px;
}


#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 13px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */




textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.aboutMe{
  border-bottom:1px;
}

.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  height: 930px;
  margin: 0px 1%;
  margin-right: 2%;
  min-width: 400px;
  max-width: 400px;
  width: 100%;
  color: #000000;
  text-align: left;
  line-height: 1.4em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #ffffff;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h1 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h1 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

.switch input {
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
  
}

/* Container */
.switch {
	height: 28px;
	margin: 23px auto;
    margin-top:20px;
    left:75%;
    position:absolute;
	width: 63px;
}

/* Background unchecked */
.switch label {
	background: #e9513a;
  color: #c72f18;
	border-radius: 2px;
	display: block;
	height: 100%;
	position: relative;
	transition: all .15s ease;
  width: 100%;
}

/* Slider unchecked */
.switch label div {
	background: #fff;
	border-radius: 2px;
	display: block;
	height: 22px;
	left: 6px;
	position: absolute;
	top: 3px;
	transition: all .15s ease;
  width: 26px;
 	z-index: 3;
}

/* Vertical lines on slider */
.switch label div:before {
	background: #d3d3d3;
  bottom: 0;
  box-shadow: -6px 0 0 0 #d3d3d3,
				6px 0 0 0 #d3d3d3; 
  content: '';
	display: block;
  height: 15px;
	left: 0;
	margin: auto;
  position: absolute;
  right: 0;
	top: 0;
  transition: all .15s ease;
  width: 3px;
}

/* Icon styles */
.switch .fontawesome-ok {
  font-size: 14px;
	left: 10px;
	position: relative;
  top: 6px;
	z-index: 2;
}


.switch .fontawesome-remove {
  font-size: 14px;
	left: 25px;
  position: relative;
	top: 6px;
	z-index: 2;
}

/* Checked States */
.switch input:checked~label {
	background: #2fca6c;
  color: #13ad4f;
}

.switch input:checked~label div {
	left: 33px;
}

