body{
  background: #FAFAFA;  /* fallback for old browsers */
  margin-bottom: 60px;
}

textarea {
   resize: none;
}

.breadcrumb {
  background-color:white;
}


#loader {
  position: fixed;
  top:0px;
  height: 100%;
  width: 100%;
  z-index: 1040;
  background-color:rgba(0,0,0,0.7);
  display: none;
}

.load-more {
  margin: 1em auto;
  width:100%;
  overflow: hidden;
  -webkit-transition: all .2s ease, background-color .01s ease, color .01s ease;
  transition: all .2s ease, background-color .01s ease, color .01s ease;
}
.load-more--loading {
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  background-color: transparent !important;
  border: .3em solid #e1e1e1;
  position:fixed;
  margin:auto;
  top:50%;
  left:50%;
  border-radius: 1.5em;
  border-top-color: #444;
  box-sizing: border-box;
  height: 3em;
  color: transparent;
  padding: 0;
  pointer-events: none;
  width: 3em;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
