<template name="course">
  <ol class="breadcrumb">
    <li><a href="{{pathFor 'landingPage'}}">Startseite</a></li>
    <li class="active">Meine Kurse</li>
  </ol>
  <button type="button" class="btn btn-primary btn-create-course">Kurs Erstellen</button>
  <br>
  {{#if $and editActive ($eq currentUser.profile.role "Mitarbeiter") }}
    <!-- {{#autoForm id="editTitle" type="update" doc=currentDoc collection=currentCollection }} -->
    {{#autoForm id="course" type="method" meteormethod=(getMethodString getCollection._name "insert") doc=this collection=getCollection }}
    <div class="form-group">
      {{> afFieldInput name="courseName" type="text" placeholder="Kursname hinzufügen" }}
      {{> afFieldInput name="courseSemester" type="text" placeholder="Semester hinzufügen" }}
      {{> afFieldInput name="studyCourse" type="text" placeholder="Studiengang hinzufügen" }}
      {{> afFieldInput name="courseKey" type="text" placeholder="Einschreibeschlüssel hinzufügen" }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    {{/autoForm}}
  {{ else }}
    {{#if $and editCourse ($eq currentUser.profile.role "Mitarbeiter") }}
      {{#autoForm id="updateCourse" type="method-update" singleMethodArgument=true meteormethod=(getMethodString getCollection._name "updateEditable") doc=currentDoc collection=getCollection }}
      <div class="form-group">
        {{> afFieldInput name="courseName" type="text" placeholder="Kursname hinzufügen" }}
        {{> afFieldInput name="courseSemester" type="text" placeholder="Semester hinzufügen" }}
        {{> afFieldInput name="studyCourse" type="text" placeholder="Studiengang hinzufügen" }}
        {{> afFieldInput name="courseKey" type="text" placeholder="Einschreibeschlüssel hinzufügen" }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-default btn-abort-course-editing"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
      {{/autoForm}}
    {{/if}}
  {{/if}}
  <ul class="surveys grid">
  {{#each course in courses}}
    {{#if $and course (checkCourseOwner course._id)}}

      <li class="survey-item">
        <span class="edit-item">
          <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-course" data-id="{{course._id}}" id="idUpdate"></span></a>
          <a href=""><span class="glyphicon glyphicon-minus text-danger  btn-delete-course"  data-id="{{course._id}}" id="idResult"></span></a>
        </span>
        <span class="survey-name">
          <a href="{{pathFor 'currentCourseLink' _id=course._id name=(encodeUrlString course.courseName)}}">
            {{course.courseName}}
          </a>
        </span>

        <div class="pull-right">
          <span class="survey-progress">
            <span class="survey-studyCourse grid-only">
              {{course.studyCourse}}
              <p class="test">
                {{course.courseSemester}}
              </p>
            </span>

            <span class="survey-progress-labels">
              <span class="survey-progress-label">
                Projekte: {{countCourseProjects course._id course.owner}}
              </span>
              <span class="survey-progress-label">
                Teilnehmer: {{countStudents course._id course.owner}}
              </span>
            </span>
          </span>

        </div>

      </li>
    <!---<li>
      <a href="{{pathFor 'currentCourseLink' _id=course._id name=course.courseName}}">{{course.courseName}}
      {{course.courseSemester}}
      {{course.studyCourse}}</a>
        <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-course" data-id="{{course._id}}" id="idUpdate"></span></a>
        <a href=""><span class="glyphicon glyphicon-minus text-danger  btn-delete-course" data-id="{{course._id}}" id="idResult"></span></a>
    </li>-->
    {{/if}}
  {{/each}}
  </ul>

</template>

<template name="deleteCourseModal">
  <div id="deleteCourseModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Kurs löschen</h4>
        </div>
        <div class="modal-body">
          <p>Möchtest du den Kurs <strong>{{docTitle}}</strong> wirklich löschen?</p>
          <div class="alert alert-warning" role="alert">
            Wenn du diesen Kurs löschst, werden die Inhalte dieses Kurses verloren gehen, sowie alle Projekte ihre zugehörigkeit zu diesem Kurs!
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          <button id="btn-delete" type="button" class="btn btn-danger">Kurs entgültig löschen</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal Delete Project -->
</template>
