<template name="course">
  {{#onlyIfLoggedIn}}
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'landingPage'}}">Startseite</a></li>
      <li class="active">Meine Kurse</li>
    </ol>
    <button type="button" class="btn btn-primary btn-create-course">Kurs Erstellen</button>
    <br>
    {{#if $and editActive ($eq currentUser.profile.role "Mitarbeiter") }}
      <!-- {{#autoForm id="editTitle" type="update" doc=currentDoc collection=currentCollection }} -->
      {{#autoForm id="course" type="method" meteormethod=(getMethodString getCollection._name "insert") doc=this collection=getCollection }}
      <div class="form-group">
        {{> afFieldInput name="courseName" type="text" placeholder="Kursname hinzufügen" }}
        {{> afFieldInput name="courseSemester" type="text" placeholder="Semester hinzufügen" }}
        {{> afFieldInput name="studyCourse" type="text" placeholder="Studiengang hinzufügen" }}
        {{> afFieldInput name="courseKey" type="text" placeholder="Einschreibeschlüssel hinzufügen" }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
      {{/autoForm}}
    {{/if}}
    <ul class="surveys grid">
      {{#if checkIfCourse}}
        {{#each courses}}
          {{> courseCard courseId=this._id}}
        {{/each}}
      {{/if}}
    </ul>
  {{/onlyIfLoggedIn}}
</template>
