<template name="currentCourse">
  {{#if checkCourseAccess}}
  <ol class="breadcrumb">
    <li><a href="{{pathFor 'landingPage'}}">Home</a></li>
    <li><a href="{{pathFor 'courseLink' _id=currentUser._id}}">Meine Kurse</a></li>
    <li class="active">{{courseName}} {{courseSemester}}</li>
  </ol>
  <div class="page-header">
    <h1>
      {{courseName}} /
      {{courseSemester}} /
      {{studyCourse}}
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
      <div class="sidebar sidebar-left sidebar-animate sidebar-show-lg">
    <div class="nav navbar-stacked">
      <div class="form-group form-group-border">
        <div class="form-group">
          {{#if checkIfDraft }}
            <button type="button" disabled={{isDraftRendered}} class="btn btn-primary navbar-btn create-course-project-btn">Fortfahren</button>
          {{else}}
            <button class="btn btn-primary create-course-project-btn btn-block ">Kursprojekt erstellen</button>
          {{/if}}
        </div>
      </div>
      <div class="form-group form-group-border">
        <div class="form-group">
          <button class="btn btn-primary create-mass-course-projects-btn btn-block ">Massen-Erstellung</button>
        </div>
      </div>
      <div class="form-group form-group-border">
        <h4>Kurs-Dozenten:</h4>
        <ul>
          {{#each ownerId in this.owner}}
          <li>
            <div class="form-group"><a href="{{pathFor 'userProfile' _id=ownerId}}">{{getFullUsername ownerId}}</a></div>
          </li>
          {{/each}}
          <li>
            <div class="form-group">
              <a href="#" class="btn-add-supervisor">
                <p class="form-control-static"> Kollegen hinzufügen:<span class="caret"></span>
                </p>
              </a>
            </div>
            {{#if addSupervisor}}
              {{#autoForm id="addCourseOwner" schema=courseOwnerSchema type="method" meteormethod="addSupervisorToCourse" doc=this}}
                <div class="form-group">
                  {{> afFieldInput name="userId" type="select2" options=(suggestedUsers exclude=this.owner role="Mitarbeiter") placeholder="Neuen Betreuer auswählen" allowClear=true}}
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                  <button type="reset" class="btn btn-default btn-abort-adding"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
              {{/autoForm}}
            {{/if}}
          </li>
        </ul>



      </div>
      <div class="form-group form-group-border">
        <a href="#" class="btn-add-selfEntering"><p class="form-control-static">Selbsteinschreibung:<span class="caret"></span></p></a>
        {{#if selfEntering}}
        <div class="btn-group">
          {{#if selfEnter}}
          <div class="wrap">

            <input type="checkbox" class="btn-toggle" id="s4" checked="" />
            <label class="slider-v2" for="s4"></label>

          </div>
          {{else}}
          <div class="wrap">

            <input type="checkbox" class="btn-toggle" id="s3" />
            <label class="slider-v2" for="s3"></label>

          </div>
          {{/if}}
          <!--/wrap-->
          <!-- <div class="btn-group  btn-toggle">
            <div class="switch white">

      			<input type="radio" name="switch" id="switch-off">
      			<input type="radio" name="switch" id="switch-on" checked>

      			<label for="switch-off">Off</label>
      			<label for="switch-on">On</label>

      			<span class="toggle"></span>

      		</div>  -->
            <!-- <div class="form-group">
              {{#if selfEnter}}
                <button class="btn btn-primary activedefault">ON</button>
                <button class="btn btn-default">OFF</button>
              {{else}}
                <button class="btn btn-default">ON</button>
                <button class="btn btn-primary active">OFF</button>
              {{/if}}
            </div> -->
          </div>
        {{/if}}
        {{#if selfEnter}}
          <p class="text-success"><h5>Aktiviert</h5></p>
        {{else}}
          <p class="text-danger"><h5>Deaktiviert</h5></p>
        {{/if}}

      </div>
      <div class="form-group form-group-border">
      {{#if setDeadline }}
        <a href="#" class="btn-edit-deadline"><p class="form-control-static">Deadline setzen:<span class="caret"></span></p></a>
        {{#autoForm id="editDeadlineCourse" type="method-update" singleMethodArgument=true meteormethod="setCourseDeadline" doc=this collection=getCollection }}
          <div class="form-group">
            {{> afFieldInput name="deadline" type="bootstrap-datepicker" placeholder="Deadline" }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
            <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        {{/autoForm}}
      {{ else }}

          {{#if this.deadline}}
            <div class="form-group">
              <p class="form-control-static">Deadline:</p>
              {{readableDate this.deadline}}
              <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-deadline"></span></a>
            </div>
          {{else}}
            <a href="#" class="btn-edit-deadline"><p class="form-control-static">Deadline setzen:<span class="caret"></span></p></a>

          {{/if}}


      {{/if}}
      </div>

      <div class="form-group form-group-border">
        <div class="form-group">
          <button id="excel-button" disabled={{isCourseProject}} class="btn btn-primary btn-block">Teilnehmer Export</button>
        </div>
      </div>
      <div class="form-group form-group-border">
        <div class="form-group">
          <button id="btn-delete-course-projects" disabled={{isCourseProject}} class="btn btn-danger btn-block">Alle Projekte Löschen</button>
        </div>
      </div>
      <div class="form-group form-group-border">
        <div class="form-group">
          <button id="btn-leave-course" disabled={{isLastOwner}} class="btn btn-danger btn-block">Kurs Verlassen</button>
        </div>
      </div>

    </div>
  </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="project-cards">
    <div class="row">
      {{#each project in projects}}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 containerFlipCourse">
          {{>projectCard currentDoc=project checkIfCourse = this._id}}
        </div>
      {{/each}}
    </div>
  </div>
    </div>
  </div>
    {{#if createLink}}
      {{> file}}
    {{/if}}
  {{/if}}
</template>

<template name="deleteAllCourseProjectsModal">
  <div id="deleteAllCourseProjectsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Projekte löschen</h4>
        </div>
        <div class="modal-body">
          <p>Möchtest du wirklich <strong>Alle</strong> Projekte löschen?</p>
          <div class="alert alert-warning" role="alert">
            Alle Projekte in diesem Kurs werden unwideruflich gelöscht!
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          <button id="btn-delete" type="button" class="btn btn-danger">Projekte engültig löschen</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal Delete Project -->
</template>

<template name="leaveCourseModal">
  <div id="leaveCourseModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Kurs Verlassen</h4>
        </div>
        <div class="modal-body">
          <p>Möchtest du wirklich diesen Kurs verlassen?</p>
          <div class="alert alert-warning" role="alert">
            Du wirst keinen Zugriff auf diesen Kurs mehr haben und auf dessen Projekte!
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          <button id="btn-leave-course-modal" type="button" class="btn btn-danger">Kurs Verlassen</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal Delete Project -->
</template>

<template name="createMassProjectsModal">
  <div id="createMassProjectsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Massen Projekt Erstellung</h4>
        </div>
        <div class="modal-body">
          <p>Möchtest du mehrere Projekte mit einem Klick erstellen?</p>
          <div class="alert alert-info" role="alert">
            Zum erstellen von mehrere Projekten wird nur der Titel des Projektes benötigt.<br>
            <br>
            &nbsp;&nbsp;&nbsp;Beispiel:<br>
            <br>
            &nbsp;&nbsp;&nbsp;Projekt 1<br>
            &nbsp;&nbsp;&nbsp;Projekt 2<br>
            &nbsp;&nbsp;&nbsp;Projekt 3<br>
            &nbsp;&nbsp;&nbsp;...

          </div>
          <textarea class="form-control" id="myTextarea" rows="6"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          <button id="create-mass-course-projects-btn" type="button" class="btn btn-primary">Projekte erstellen</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal Delete Project -->
</template>

<template name='file'>
  {{fileLink}}
</template>
