<template name="editableProject">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
                {{> editTitle currentDoc=this currentCollection=getCollection }}
              </h1>
          </div>
      </div> <!-- /.row -->
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <div class="panel panel-default">
            {{> wholeGallery currentDoc=this currentCollection=getCollection }}
                  <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      {{> editDescription currentDoc=this currentCollection=getCollection }}
                    </div> <!-- /.col description -->
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      {{> editTags currentDoc=this currentCollection=getCollection }}
                    </div> <!-- /.col Tags -->
                  </div> <!-- /.row Tags -->

                  <div class="row">
                    <div class="col-sm-12">
                        <!-- {{#each item in teamCommunication}}
                          {{> editTeamCommItem medium=item.medium url=item.url isPrivate=item.isPrivate currentDoc=this currentCollection=getCollection slot=@index}}
                        {{/each}}
                        {{> addTeamComm currentDoc=this currentCollection=getCollection }} -->
                      {{> editTeamCommunication currentDoc=this currentCollection=getCollection }}
                    </div>
                  </div>
                  <br>
                  {{log this}}
                  {{#if this.isNewProject}}
                    <button id="btn-abort" class="btn btn-default">Abbrechen</button>
                    <button id="btn-create" class="btn btn-primary">Projekt erstellen</button>
                  {{/if}}
                </div> <!-- /.panel-body -->
              </div> <!-- /.panel -->
        </div> <!-- /.col-md-8 -->
        <div class="col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title">Team</span>
                </div>

                <div class="panel-body">
                  <ul class="media-list">
                    {{>editOwnerRole currentDoc=this currentCollection=getCollection}}
                    {{#each teamMember in team}}
                      {{> member currentDoc=this userId=teamMember.userId role=teamMember.role userList=(suggestedUsers teamMember.userId) slot=@index currentCollection=getCollection }}
                    {{/each}}
                    {{> addMember currentDoc=this userList=(suggestedUsers " ") currentCollection=getCollection }}
                  </ul>
                </div>
              </div> <!-- /.panel-default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Gesuchte Fähigkeiten</h2>
                </div>
                <div class="panel-body">
                  <ul>
                      {{#each job in jobs}}
                        {{>jobItem jobLabel=job.joblabel currentDoc=this currentCollection=getCollection slot=@index}}
                      {{/each}}
                      {{>addJob currentDoc=this currentCollection=getCollection}}
                  </ul>
                </div>
              </div> <!-- /.panel Wanted Skills -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Kontakt</h2>
                </div>
                <div class="panel-body">
                  <ul class="list-unstyled">
                    {{#each contact in contacts}}
                      {{>contactItem medium=contact.medium approach=contact.approach currentDoc=this currentCollection=getCollection slot=@index}}
                    {{/each}}
                    {{> addContact currentDoc=this currentCollection=getCollection }}
                  </ul>
                </div>
              </div> <!-- /.panel Contact -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Details</h2>
                </div>
                <div class="panel-body">
                  <dl class="dl">
                    <dt>Projektanlass</dt>
                    <dd>{{>editOccasions currentDoc=this currentCollection=getCollection}}</dd>
                    <dt>Betreuer</dt>
                    <dd>{{>editSupervisors currentDoc=this currentCollection=getCollection}}</dd>
                    <dt>Deadline</dt>
                    <dd>{{>editDeadline currentDoc=this currentCollection=getCollection}}</dd>

                  </dl>
                </div>
              </div> <!-- /.panel Wanted Skills -->

            </div> <!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div> <!-- /.container -->
</template>
