.thumbnails {
  display: flex;
}

.thumbnail-placeholder {
  height: 65px;
  width: 115px;
  max-height: auto;
  max-width: 100%;
}

.thumbnailsJustify {
    display: flex;
    justify-content: space-between;
}

.preview-placeholder {
  height: 500px;
  width: 750px;
}

.edit_button {
  border:none;
  background:none;
  position: relative;
  left:10px;
}
.videoImage {
  width:115px;
  height: 65px;
}
#video-link-button {
  position: relative;
}
#video-link-position {
  position: relative;
}
#title-image-button {
  position: relative;
}
#delete-image-button {
  position: relative;
}
