<template name="uploadImage">
  {{> uploadForm uploadSlot=uploadSlot}}
</template>

<template name="uploadForm">
  {{#with currentUpload}}
    Uploading <b>{{file.name}} </b>: 
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <p>Fuer Slot {{uploadSlot}} Bilder hier hinziehen</p>
    <p>oder</p>    
    <input id="fileInput" type="file" />
  {{/with}}
</template>

<template name="uploadedFiles">
  {{#if uploadedFiles.count}}
    <ul>
      {{#each file in uploadedFiles.each}}
        <li>
          <a href="{{file.link}}?download=true" id="imageLink" download="{{file.name}}">{{file.name}}</a>
          
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div>No files uploaded, yet</div>
  {{/if}}
</template>

<template name='file'>
  {{#with imageFile.with}}
    <img src="{{link}}" alt="{{name}}" />
  {{else}}
    Loading Image...
  {{/with}}
  <hr>
  {{#with videoFile.with}}
    <video height="auto" controls preload="auto" autoplay>
      <source src="{{link}}?play=true" type="{{type}}" />
    </video>
  {{else}}
    Loading Video...
  {{/with}}
</template>

