<template name="newProject">
  {{#autoForm collection=getProjectsCollection id="newProject" type="insert"}}
    <fieldset>
      <legend>Neues Projekt anlegen</legend>
      {{> afQuickField name="title" }}
      {{> afQuickField name="subtitle" }}
      {{> afQuickField name="pictures" initialCount=5 minCount=5 maxCount=5}}
      {{> afQuickField name="description" rows=6 }}
      {{> afQuickField name="deadline" }} 
      {{> afQuickField name="tags" }}
      {{> afQuickField name="jobs" }}
      {{> afQuickField name="scopes" }}
    </fieldset>
    <button type="submit" class="btn btn-primary">Projekt anlegen</button>
  {{/autoForm}}
</template>
