<template name="newProject">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
                {{> editTitle currentDoc=this collection=getDraftsCollection }}
              </h1>
          </div>
      </div> <!-- /.row -->
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <div class="panel panel-default">
            <div class="panel-header">
              <div class="well img-placeholder">
                <div class="center-block text-center">
                  <h4 class="text-info">Bild hierhin ziehen und ablegen<br>oder</h4>
                <button class="btn btn-info">Bild auswählen</button>
                </div>
              </div>
            </div> <!-- /.panel-header -->

                  <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="list-inline thumbnails">
                        <li>
                          <a href="#">
                          <img class="img-responsive" src="https://unsplash.it/115/65?random=1" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="well thumbnail-placeholder"></div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img class="img-responsive" src="https://unsplash.it/115/65?random=3" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="well thumbnail-placeholder"></div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="well thumbnail-placeholder"></div>
                          </a>
                        </li>
                      </ul>
                    </div> <!-- /.col-sm-12 gallery thumbnails -->
                  </div> <!-- /.row -->
                  <div class="row">
                    <div class="col-sm-12">
                      {{> editDescription currentDoc=this drafts=getDraftsCollection }}
                    </div> <!-- /.col description -->
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      {{> editTags currentDoc=this drafts=getDraftsCollection }}
                    </div> <!-- /.col Tags -->
                  </div> <!-- /.row Tags -->

                  <br>
                  <button id="btn-abort" class="btn btn-default">Abbrechen</button>
                  <button id="btn-create" class="btn btn-primary">Projekt erstellen</button>

                </div> <!-- /.panel-body -->
              </div> <!-- /.panel -->
        </div> <!-- /.col-md-8 -->
        <div class="col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title">Team</span>
                </div>

                <div class="panel-body">
                  <ul class="media-list">
                    <li class="media">
                      <div class="media-left">
                        <a href="{{pathFor 'userProfile' _id=this.owner.userId}}">
                          <img class="media-object img-circle" src="{{getAvatarURL this.owner.userId "avatar"}}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <a href="{{pathFor 'userProfile' _id=this.owner.userId}}">{{getFullUsername this.owner.userId}}</a>
                        </h4>
                        <p class="text-muted">
                          {{>editOwnerRole currentDoc=this drafts=getDraftsCollection}}
                        </p>
                      </div>
                    </li>
                    {{#each teamMember in team}}
                      {{> member currentDoc=this draftId=this._id userId=teamMember.userId role=teamMember.role userList=(suggestedUsers teamMember.userId) slot=@index drafts=getDraftsCollection }}
                    {{/each}}
                    {{> addMember currentDoc=this userList=(suggestedUsers " ") drafts=getDraftsCollection }}
                  </ul>
                </div>
              </div> <!-- /.panel-default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Gesuchte Fähigkeiten</h2>
                </div>
                <div class="panel-body">
                  <ul>
                      {{#each job in jobs}}
                        {{>jobItem jobLabel=job.joblabel currentDoc=this drafts=getDraftsCollection slot=@index}}
                      {{/each}}
                      {{>addJob currentDoc=this drafts=getDraftsCollection}}
                  </ul>
                </div>
              </div> <!-- /.panel Wanted Skills -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Kontakt</h2>
                </div>
                <div class="panel-body">
                  <ul class="list-unstyled">
                    {{#each contact in contacts}}
                      {{>contactItem medium=contact.medium approach=contact.approach currentDoc=this drafts=getDraftsCollection slot=@index}}
                    {{/each}}
                    {{> addContact currentDoc=this drafts=getDraftsCollection }}
                  </ul>
                </div>
              </div> <!-- /.panel Contact -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Details</h2>
                </div>
                <div class="panel-body">
                  <dl class="dl">
                    <dt>Projektanlass</dt>
                    <dd>{{>editOccasions currentDoc=this drafts=getDraftsCollection}}</dd>
                    <dt>Betreuer</dt>
                    <dd>{{>editSupervisors currentDoc=this drafts=getDraftsCollection}}</dd>
                    <dt>Deadline</dt>
                    <dd>{{>editDeadline currentDoc=this drafts=getDraftsCollection}}</dd>

                  </dl>
                </div>
              </div> <!-- /.panel Wanted Skills -->

            </div> <!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div> <!-- /.container -->
</template>

<template name="addMember">
  <li class="media">
    <div class="media-left">
      <button id="btn-add-member" class="btn btn-primary btn-lg btn-round"><span class="text-center glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="media-body">
      {{#if editActive}}
        {{#autoForm id="addMember" type="update-pushArray" doc=currentDoc collection=drafts scope="team"}}
          <div class="form-group">
            {{> afFieldInput name="userId" type="select2" options=userList placeholder="Neues Mitglied auswählen" allowClear=true}}
            {{> afFieldInput name="role" type="text" placeholder="Aufgaben im Projekt"}}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-abort-adding"><span class="glyphicon glyphicon-ok"></span></button>
            <button type="reset" class="btn btn-default btn-abort-adding"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        {{/autoForm}}
      {{/if}}
    </div>
  </li>
</template>

<template name="member">
  <li class="media">
    <div class="media-left">
      <a href="{{pathFor 'userProfile' _id=this.userId}}">
        <img class="media-object img-circle" src="{{getAvatarURL this.userId "avatar"}}" alt="...">
      </a>
    </div>
    <div class="media-body">
        {{#if editActive}}
          {{#autoForm id="member" type="update" doc=currentDoc collection=drafts setArrayItems=true}}
            <div class="form-group">
              <h4 class="media-heading">
                {{> afFieldInput name=teamUserIdField type="select2" options=userList placeholder="Neues Mitglied auswählen" value=this.userId }}
              </h4>
              <p>
                {{> afFieldInput name=teamUserRoleField type="text" options=userList placeholder="Aufgaben im Projekt"}}
              </p>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          {{/autoForm}}
        {{else}}
          <h4 class="media-heading">
            <a href="{{pathFor 'userProfile' _id=this.userId}}">{{getFullUsername this.userId}}</a>
            <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-member"></span></a>
            <a href=""><span class="glyphicon glyphicon-minus text-danger btn-delete-member"></span></a>
          </h4>
          <p class="text-muted">{{role}}</p>
        {{/if}}
    </div>
  </li>
</template>

<template name="contactItem">
  <li>
    {{#if editActive}}
      {{#autoForm id="contactItem" type="update" doc=currentDoc collection=drafts setArrayItems=true}}
        {{> afFieldInput name=contactMediumField type="select2" options=mediumOptions placeholder="Kontaktmittel auswählen" }}
        {{> afFieldInput name=contactApproachField type="text" options=mediumOptions placeholder="Details zur Kontaktaufnahme"}}
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
          <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      {{/autoForm}}
    {{else}}
      {{medium}}: {{approach}} <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-contact"></span></a>
      <a href=""><span class="glyphicon glyphicon-minus text-danger btn-delete-contact"></span></a>
    {{/if}}
  </li>
</template>

<template name="addContact">
  <li>
    <button id="btn-add-contact" class="btn btn-primary btn-round"><span class="text-center glyphicon glyphicon-plus"></span></button>
    {{#if editActive}}
      {{#autoForm id="addContact" type="update-pushArray" doc=currentDoc collection=drafts scope="contacts"}}
        <div class="form-group">
          {{> afFieldInput name="medium" type="select2" options=mediumOptions placeholder="Neues Kommunikationsmittel hinzufügen" }}
          {{> afFieldInput name="approach" type="text" placeholder="Details zur Kontaktaufnahme"}}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
          <button type="reset" class="btn btn-default btn-abort-adding"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      {{/autoForm}}
    {{/if}}
  </li>
</template>

<template name="editTitle">
  {{#if editActive }}
    {{#autoForm id="editTitle" type="update" doc=currentDoc collection=collection }}
    <div class="form-group">
      {{> afFieldInput name="title" type="text" placeholder="Titel deines Projekts" }}
      {{> afFieldInput name="subtitle" type="text" placeholder="Untertitel hinzufügen" }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    {{/autoForm}}
  {{ else }}
    {{#if currentDoc.title}}
      {{currentDoc.title}}
    {{else}}
      <span class="text-danger"><em>Titel deines Projekts</em></span>
    {{/if}}
    <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-title"></span></a><br>
    <small>{{currentDoc.subtitle}}</small>
  {{/if}}
</template>

<template name="editDescription">
  {{#if editActive}}
    {{#autoForm id="editDescription" type="update" doc=currentDoc collection=drafts }}
    <div class="form-group">
      {{> afFieldInput name="description" type="textarea" rows=6 placeholder="Beschreibung deines Projekts" }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    {{/autoForm}}
    {{ else }}
      {{#if currentDoc.description}}
        {{currentDoc.description}}
      {{else}}
        <span class="text-primary"><em>Beschreibung hinzufügen</em></span>
      {{/if}}
      <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-description"></span></a>
    {{/if}}
</template>

<template name="editTags">
  {{#if editActive}}
    {{#autoForm id="editTags" type="update" doc=currentDoc collection=drafts }}
    <div class="form-group">
      {{> afFieldInput name="tags" type="tags" maxTags=10 maxChars=20 trimValue=true placeholder="Tags eingeben" }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    {{/autoForm}}
    {{ else }}
      {{#if currentDoc.tags}}
        {{currentDoc.tags}}
      {{else}}
        <span class="text-primary"><em>Tags hinzufügen</em></span>
      {{/if}}
      <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-tags"></span></a>
    {{/if}}
</template>

<template name="jobItem">
  <li>
    {{#if editActive}}
      {{#autoForm id="jobItem" type="update" doc=currentDoc collection=drafts setArrayItems=true}}
        {{> afFieldInput name=jobLabelField type="text" placeholder="Gesuchte Fähigkeit" }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
          <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      {{/autoForm}}
    {{else}}
      {{jobLabel}} <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-job"></span></a>
      <a href=""><span class="glyphicon glyphicon-minus text-danger btn-delete-job"></span></a>
    {{/if}}
  </li>
</template>

<template name="addJob">
  <li>
    <button id="btn-add-job" class="btn btn-primary btn-round"><span class="text-center glyphicon glyphicon-plus"></span></button>
    {{#if editActive}}
      {{#autoForm id="addJob" type="update-pushArray" doc=currentDoc collection=drafts scope="jobs"}}
        <div class="form-group">
          {{> afFieldInput name="joblabel" type="text" placeholder="Gesuchte Fähigkeit hinzufügen" }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
          <button type="reset" class="btn btn-default btn-abort-adding"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      {{/autoForm}}
    {{/if}}
  </li>
</template>

<template name="editOccasions">
  {{#if editActive }}
    {{#autoForm id="editOccasions" type="update" doc=currentDoc collection=drafts }}
      <div class="form-group">
        {{> afFieldInput name="occasions" type="tags" maxTags=10 maxChars=30 trimValue=true placeholder="Kurs, Projektschein oder sonstige Motivation" }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    {{/autoForm}}
  {{ else }}
    {{#if currentDoc.occasions}}
      {{arrayToString currentDoc.occasions}}
    {{else}}
      <span class="text-primary"><em>Kurs, Projektschein oder sonstige Motivation</em></span>
    {{/if}}
    <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-occasions"></span></a>
  {{/if}}
</template>

<template name="editSupervisors">
  {{#if editActive }}
    {{#autoForm id="editSupervisors" type="update" doc=currentDoc collection=drafts }}
      <div class="form-group">
        {{> afFieldInput name="supervisors" type="tags" maxTags=10 maxChars=30 trimValue=true placeholder="Betreuer" }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    {{/autoForm}}
  {{ else }}
    {{#if currentDoc.supervisors}}
      {{arrayToString currentDoc.supervisors}}
    {{else}}
      <span class="text-primary"><em>Wer betreut das Projekt?</em></span>
    {{/if}}
    <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-supervisors"></span></a>
  {{/if}}
</template>

<template name="editDeadline">
  {{#if editActive }}
    {{#autoForm id="editDeadline" type="update" doc=currentDoc collection=drafts }}
      <div class="form-group">
        {{> afFieldInput name="deadline" type="bootstrap-datepicker" placeholder="Deadline" }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    {{/autoForm}}
  {{ else }}
    {{#if currentDoc.deadline}}
      {{readableDate currentDoc.deadline}}
    {{else}}
      <span class="text-primary"><em>Wann muss das Projekt fertig sein?</em></span>
    {{/if}}
    <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-deadline"></span></a>
  {{/if}}
</template>

<template name="editOwnerRole">
  {{#if editActive }}
    {{#autoForm id="editOwnerRole" type="update" doc=currentDoc collection=drafts }}
      <div class="form-group">
        {{> afFieldInput name="owner.role" type="text" placeholder="Deine Aufgaben im Projekt" }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-abort-editing"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    {{/autoForm}}
  {{ else }}
    {{#if currentDoc.owner.role}}
      Projektleiter, {{currentDoc.owner.role}}
    {{else}}
      Projektleiter, <span class="text-primary"><em>weitere Aufgaben im Projekt</em></span>
    {{/if}}
    <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-owner"></span></a>
  {{/if}}
</template>
