.coverless-card-title {
   height: 78px;
}

.coverless-card-titleCourse {
  height: 25px;
}

.cover-card-title {
  height: 62px;
}

.ellipsis-tags {
  /*position: relative;*/
  /*top: 156px;*/
}

.expandable-content {
  position: absolute;
  top: 201px;
  left: 16.5px;
  background-color: white;
  width: 260px;
  height: 169px;
  padding: 15px;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

/*.expandable:hover {
  display: block;
  height: 160px;
}*/

/*.expandable:hover .expandable-content  {
  top: 101px;
}*/

.panel-body.cover-card-body {
  height: 200px;
}

.panel-body.coverless-card-body {
  height: 400px;
  overflow:hidden;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.panel-body.coverless-card-bodyCourse {
  height: 100px;
}

.coverless-card-body .ellipsis-tags {
  top: 0px;
}

.coverless-card-body .jobs-box {
  height: 332px;
}

.jobs-box-body {
  padding: 15px;
  width: 100%;
  overflow: hidden;
  height: 330px;
  /*-moz-box-shadow: inset 0 -10px 10px -10px #333;
    -webkit-box-shadow: inset 0 -10px 10px -10px #333;
    box-shadow: inset 0 -10px 10px -10px #333;*/
}

.panel-footer > ul {
  margin-bottom: 0;
}

.jobs-expanded {
  display: block;
}

.remaining-member {
  display: inline-block;
  vertical-align: middle;
}

.jobs-box {
  border: 1px solid #eee;
  position: relative;
  /*height: 182px;*/
  z-index: 1;
  margin-bottom: 10px;
}

/*.cover-card-title {
  position: absolute;
  z-index: 7;
}*/

.jobs-box > .expandable {
  padding-top: 15px;
  padding-bottom: 5px;
  overflow: hidden;
  height: 82px;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.expandable-trigger:hover + .expandable-content .expandable {
  height: 157px;
}

.expandable-trigger:hover + .expandable-content {
  top: 126px;
}

/*.expandable-trigger:hover + .expandable-content .testTrigger {
  position:relative;
  z-index: 2;
}*/

.expandable-trigger:hover + .expandable-content .card {
  position: relative;
}

.expandable-trigger:hover {
  height: 225px;
  z-index: 2;
}

.expandable-trigger {
  height: 85px;
  width: 230px;
  bottom: 109px;
  /*background-color: yellow;*/
  position: absolute;
  z-index: 2;
}

.jobs-box-header {
  z-index: 2;
  width: 100%;
}

.jobs-box-header > span {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.remaining-member > a.text-info:hover {
  text-decoration: none;
}
.circle30-remaining-members {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  /*vertical-align: middle;*/
}
.circle20-remaining-members {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  /*vertical-align: middle;*/
}

.title-1row {
  /*max-height: 28px;*/
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.title-2row {
  /*max-height: 54px;*/
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.jobBreak{
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.subtitle-2row {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  z-index: -100;
}

.hr-top {
  margin-bottom: 7px;
}

.hr-bottom {
  margin-top: 7px;
}

.member-icons-box {
  position: absolute;
  top: -30px;
  right: 0px;
  padding: 5px;
  background-color: white;
  border-top-left-radius: 2px;
}

.member-icons {
  margin: 0;
}

.panel-header.cover {
  position: relative;
  /*display: block;*/
  height: 200px;
  /*background-color: grey;*/
}

.cover > img {
  height: 200px;
}

.panel-body h3 {
  margin-top: 0;
}

/*.expandable-content > h3 {
  margin-top: 0;
}*/

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #ffffff;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}


.post-module .thumbnailCover img {
  display: block;
  width: 100%;
  margin-left: auto;
    margin-right: auto;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}


.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 30px;

}
.post-module .post-content .category {
  position: absolute;
  top: -15px;
  right: 0px;
  border-top:1px;
  box-shadow: inset 0px 0.5px 0px #bcbcbc;
  background: rgb(235, 235, 235);
  padding: 5px 7.5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}



.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #727272;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.post-module .post-content .description2 {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

.hover .post-content .description2 {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.containerFlip {
  position: relative;
  perspective: 800px;
  height: 480px;
}

#card {
  position: absolute;
  width: 260px;
  height: 400px;
  -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card figure {
  /*margin: 0;*/
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
}

#card .front {
  background-color: white;
}

#card .front .panel-body{
  padding-top:180px;
}

#card .back {
  background: white;
  transform: rotateY( 180deg );
  -webkit-transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( -180deg );
  -webkit-transform: rotateY( -180deg );
}

.title-ellipses {
  width: 200px;
  font-size:24px;
  height: 1.2em;
  /*elipsis style*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.subtitle-ellipses {
  width: 200px;
  height: 2.4em;
  /*elipsis style*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
