<template name="projectCard">
  <div class="panel panel-default coverless-card" id="{{#unless checkIfCourse}}card{{else}}cardCourse{{/unless}}">
    <figure class="front" >
    {{#unless checkIfCourse}}
      <div class="header-image" style="{{#if currentDoc.coverImg}} background-image:url({{getImgURL currentDoc.coverImg "cover400"}}) {{else}} background-color:{{randomColor}} {{/if}}"><i class="fa fa-ellipsis-v fa-2x panel-right fa-ellipsis-cursor" aria-hidden="true"></i></div>
    {{/unless}}
    <div class="panel-body {{#unless checkIfCourse}}coverless-card-body{{else}} coverless-card-bodyCourse{{/unless}}">
      <div class="{{#unless checkIfCourse}}coverless-card-title{{else}}coverless-card-titleCourse{{/unless}}">
        {{> projectCardTitle _id=currentDoc._id title=currentDoc.title checkIfCourse=checkIfCourse subtitle=currentDoc.subtitle subtitleLines=2 }}
      </div>
      <hr class="hr-top" style="{{#if checkIfCourse}}margin-top:20px{{/if}}">
      <ul class="member-icons list-inline">
      {{#unless currentDoc.team}}
        <li>
          <img class="img-circle img-circle-transparent" rel="tooltip" title="Keine Mitglieder" src={{getAvatarURL 0 "avatar20"}}>
        </li>
      {{/unless}}
      {{#if $and currentDoc.team ($not checkIfCourse)}}
        {{#each member in currentDoc.team}}
          {{#if $lt @index (itemsToShow currentDoc.team.length 6 1)}}
            <li>
              <a href="{{pathFor 'userProfile' _id=member.userId }}">
                <img class="img-circle" rel="tooltip" title="{{getFullUsername member.userId}}" src={{getAvatarURL member.userId "avatar20"}}>
              </a>
            </li>
          {{/if}}
        {{/each}}
      {{else}}
        {{#if $and currentDoc.team checkIfCourse}}
          {{#each member in currentDoc.team}}
            {{#if $lt @index (itemsToShow currentDoc.team.length 5 1)}}
              <li>
                <a href="{{pathFor 'userProfile' _id=member.userId }}">
                  <img class="img-circle" rel="tooltip" title="{{getFullUsername member.userId}}" src={{getAvatarURL member.userId "avatar20"}}>
                </a>
              </li>
            {{/if}}
          {{/each}}
        {{/if}}
      {{/if}}
        {{#if $and ($not checkIfCourse) (itemsRemaining currentDoc.team.length 6 1)}}
          <li class="remaining-member">
            <a class="text-info" href="{{pathFor 'projectDetails' projectId=currentDoc._id projectTitle=(encodeUrlString currentDoc.title)}}">
              <div class="text-center{{#unless checkIfCourse}} bg-info circle20-remaining-members {{/unless}}">
                <span>
                  <em class="remaining-size">+{{itemsRemaining currentDoc.team.length 6 1}}</em>
                </span>
              </div>
            </a>
          </li>
        {{else}}
          {{#if $and checkIfCourse (itemsRemaining currentDoc.team.length 5 1)}}
            <li class="remaining-member">
              <a class="text-info" href="{{pathFor 'projectDetails' projectId=currentDoc._id projectTitle=(encodeUrlString currentDoc.title)}}">
                <div class="text-center{{#unless checkIfCourse}} bg-info circle20-remaining-members {{/unless}}">
                  <span>
                    <em class="remaining-size">+{{itemsRemaining currentDoc.team.length 5 1}}</em>
                  </span>
                </div>
              </a>
            </li>
          {{/if}}
        {{/if}}
      </ul>
      <hr class="hr-bottom">
      {{>projectCardTags tags=currentDoc.tags}}
    </div> <!-- /.panel-body -->
    <div class="panel-footer">
      {{>projectCardFooter beginning=currentDoc.beginning deadline=currentDoc.deadline}}
    </div> <!-- /.panel-footer -->
    </figure>
    {{#unless checkIfCourse}}
    <figure class="back">
      <div class="panel-body {{#unless checkIfCourse}} coverless-card-body {{else}} coverless-card-bodyCourse {{/unless}}">
        {{#unless checkIfCourse}}
          {{>projectCardJobs jobs=currentDoc.jobs expandable=false}}
        {{/unless}}

      </div>
      <div class="panel-footer panel-footerBack">
        <a href="{{pathFor 'projectDetails' projectId=currentDoc._id projectTitle=(encodeUrlString currentDoc.title)}}"> &gt;&gt; Zum Projekt &lt;&lt; </a>
      </div> <!-- /.panel-footer -->
    </figure>
    {{/unless}}
  </div> <!-- /.panel project card -->
</template>

<template name="projectCardTitle">
  <p class="{{#unless checkIfCourse}}title-ellipses{{else}}title-ellipses-course{{/unless}} line-clamp-2">
     <a href="{{pathFor 'projectDetails' projectId=_id projectTitle=(encodeUrlString title)}}" class="{{#if subtitle}}title-1row{{else}}title-2row{{/if}}">{{title}}</a>
  </p>
  {{#if $and ($not checkIfCourse) subtitle}}
     <small class="subtitle-ellipses line-clamp-2">{{subtitle}}</small>
  {{/if}}
</template>

<template name="projectCardJobs">
  <div class="jobs-box">

    <div class="container jobs-box-body {{#if expandable}}expandable{{/if}}">

        <span class="text-muted text-center jobs-box-header"><h3>Gesucht</h3></span>
        <hr class="hr-top">
      <ul class="jobBreak list-unstyled">
          {{#each job in jobs}}
            <li class="text-primary {{#if $gte @index 3}}job-expand{{/if}}">
              <span class="glyphicon glyphicon-search"></span> {{job.joblabel}}
            </li>
          {{/each}}
        </ul>
    </div>
  </div> <!-- ./jobs-box-decoration -->
</template>

<template name="projectCardTags">
  <span class="ellipsis-tags line-clamp-2">
    {{#each tag in tags}}
      <span class="label label-default" id="tags-color">{{tag}}</span>
    {{/each}}
  </span>
</template>

<template name="projectCardFooter">
  <ul class="list-inline text-center">
    {{#if $and beginning deadline}}
      <li class="text-muted"><small>{{readableDate beginning}} - {{readableDate deadline}}</small> </li>
    {{/if}}

    {{#if $and ($not beginning) ($not deadline)}}
      <li class="text-muted"> <small>Kein Datum gesetzt</small> </li>
    {{/if}}

    {{#if $and ($not beginning) deadline}}
      <li class="text-muted"> <small>Deadline: {{readableDate deadline}}</small> </li>
    {{/if}}

    {{#if $and beginning ($not deadline)}}
      <li class="text-muted"> <small>Starttermin: {{readableDate beginning}} </small> </li>
    {{/if}}

  </ul>
</template>
