<template name="projectEdit">
      <form class="edit-project">
        
        <p><input name="tags" type="text" value="{{initTags}}" id="tags-input" data-role="tagsinput" /></p>
        
        
        <p class="project-title">
          <input name="title" type="text" value="{{title}}" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Projektname" id="title" />
        </p>
        
         
        <p class="project-description">
          <textarea name="description" value="{{description}}" class="validate[required,length[6,300]] feedback-input" id="description" placeholder="Projekt Beschreibung"></textarea>
        </p>
        
        <p class="project-deadline">
          <input name="deadline" value="{{formDate deadline}}" type="date" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Deadline" id="deadline" />
        </p>
        
        <p class="project-skills">
          <input type="text" name="skills" id="skills" data-role="tagsinput" placeholder="Welche Fähigkeiten suchst du?" />
          {{initSkills}}
        </p>
        
        <p class="project-contacts">
          <textarea name="contacts" value="{{contacts}}" class="validate[required,length[6,300]] feedback-input" id="contacts" placeholder="Kontaktmöglichkeiten"></textarea>
        </p>    
        
        <input type="submit" value="Speichern" id="button-blue"/>
        <a href="{{pathFor 'projectDetails'}}">Abbrechen</a>
      </form>
</template>