<template name="addMember">
  {{#if isProjectEditableBy currentDoc currentUser._id }}
    <li class="media">
      <div class="media-left">
        <button id="btn-add-member" class="btn btn-primary btn-lg btn-round"><span class="text-center glyphicon glyphicon-plus"></span></button>
      </div>
      <div class="media-body">
        {{#if editActive}}
          {{#autoForm id="addMember" schema=memberSchema type="method" meteormethod=(getMethodString currentCollection._name "addMember") doc=currentDoc }}
            <div class="form-group">
              {{> afFieldInput name="member.userId" type="select2" options=userList placeholder="Neues Mitglied auswählen" allowClear=true}}
              {{> afFieldInput name="member.role" type="text" placeholder="Aufgaben im Projekt"}}
              {{> afFieldInput name="member.isEditor" type="boolean-checkbox"}}
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="reset" class="btn btn-default btn-abort-adding"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          {{/autoForm}}
        {{/if}}
      </div>
    </li>
  {{/if}}
</template>

<template name="member">
  <li class="media">
    <div class="media-left">
      <a href="{{pathFor 'userProfile' _id=this.userId}}">
        <img class="media-object img-circle" src="{{getAvatarURL this.userId "avatar50"}}" alt="...">
      </a>
    </div>
    <div class="media-body">
        {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
          {{#autoForm id="member" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection setArrayItems=true}}
            <div class="form-group">
              <h4 class="media-heading">
                {{> afFieldInput name=teamUserIdField type="select2" options=userList placeholder="Neues Mitglied auswählen" value=this.userId }}
              </h4>
              <p>
                {{> afFieldInput name=teamUserRoleField type="text" placeholder="Aufgaben im Projekt"}}
              </p>
              <p>{{> afFieldInput name=teamUserIsEditorField type="boolean-checkbox"}}</p>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          {{/autoForm}}
        {{else}}
          <h4 class="media-heading">
            <a href="{{pathFor 'userProfile' _id=this.userId}}">{{getFullUsername this.userId}}</a>
            {{#if isProjectEditableBy currentDoc currentUser._id}}
              <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-member"></span></a>
              <a href=""><span class="glyphicon glyphicon-minus text-danger btn-delete-member"></span></a>
            {{/if}}
          </h4>
          <p class="text-muted">{{role}}</p>
        {{/if}}
    </div>
  </li>
</template>

<template name="contactItem">
  <li>
    {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
      {{#autoForm id="contactItem" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection setArrayItems=true}}
        {{> afFieldInput name=contactMediumField type="select2" options=mediumOptions placeholder="Kontaktmittel auswählen" }}
        {{> afFieldInput name=contactApproachField type="text" options=mediumOptions placeholder="Details zur Kontaktaufnahme"}}
        <div class="form-group">
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
          <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      {{/autoForm}}
    {{else}}
      {{medium}}: {{approach}}
      {{#if isProjectEditableBy currentDoc currentUser._id}}
        <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-contact"></span></a>
        <a href=""><span class="glyphicon glyphicon-minus text-danger btn-delete-contact"></span></a>
      {{/if}}
    {{/if}}
  </li>
</template>

<template name="addContact">
  {{#if isProjectEditableBy currentDoc currentUser._id }}
    <li>
      <button id="btn-add-contact" class="btn btn-primary btn-round"><span class="text-center glyphicon glyphicon-plus"></span></button>
      {{#if editActive }}
        {{#autoForm id="addContact" schema=contactSchema type="method" meteormethod=(getMethodString currentCollection._name "addContact") doc=currentDoc}}
          <div class="form-group">
            {{> afFieldInput name="contact.medium" type="select2" options=mediumOptions placeholder="Neues Kommunikationsmittel hinzufügen" }}
            {{> afFieldInput name="contact.approach" type="text" placeholder="Details zur Kontaktaufnahme"}}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
            <button type="reset" class="btn btn-default btn-abort-adding"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        {{/autoForm}}
      {{/if}}
    </li>
  {{/if}}
</template>

<template name="editTitle">
  {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
    <!-- {{#autoForm id="editTitle" type="update" doc=currentDoc collection=currentCollection }} -->
    {{#autoForm id="editTitle" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection }}
    <div class="form-group">
      {{> afFieldInput name="title" type="text" placeholder="Titel deines Projekts" }}
      {{> afFieldInput name="subtitle" type="text" placeholder="Untertitel hinzufügen" }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    {{/autoForm}}
  {{ else }}
    {{#if currentDoc.title}}
      {{currentDoc.title}}
    {{else}}
      <span class="text-danger"><em>Titel deines Projekts</em></span>
    {{/if}}
    {{#if isProjectEditableBy currentDoc currentUser._id}}
      <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-title"></span></a><br>
    {{/if}}
    <small>{{currentDoc.subtitle}}</small>
  {{/if}}
</template>

<template name="editDescription">
  <!-- {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }} -->
  {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
    {{#autoForm id="editDescription" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection }}
    <div class="form-group">
      {{> afFieldInput name="description" type="textarea" rows=6 placeholder="Beschreibung deines Projekts" }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    {{/autoForm}}
    {{ else }}
      {{#if currentDoc.description}}
        {{currentDoc.description}}
      {{else}}
        {{#if isProjectEditableBy currentDoc currentUser._id}}
          <span class="text-primary"><em>Beschreibung hinzufügen</em></span>
        {{/if}}
      {{/if}}
      {{#if isProjectEditableBy currentDoc currentUser._id}}
        <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-description"></span></a>
      {{/if}}
    {{/if}}
</template>

<template name="editTags">
  {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
    {{#autoForm id="editTags" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection  }}
    <div class="form-group">
      {{> afFieldInput name="tags" type="tags" maxTags=10 maxChars=20 trimValue=true placeholder="Tags eingeben" }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    {{/autoForm}}
    {{ else }}
      {{#if currentDoc.tags}}
        {{currentDoc.tags}}
      {{else}}
        {{#if isProjectEditableBy currentDoc currentUser._id}}
          <span class="text-primary"><em>Tags hinzufügen</em></span>
        {{/if}}
      {{/if}}
      {{#if isProjectEditableBy currentDoc currentUser._id}}
        <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-tags"></span></a>
      {{/if}}
    {{/if}}
</template>

<template name="jobItem">
  <li>
    {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
      {{#autoForm id="jobItem" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection setArrayItems=true}}
        {{> afFieldInput name=jobLabelField type="text" placeholder="Gesuchte Fähigkeit" }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
          <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      {{/autoForm}}
    {{else}}
      {{jobLabel}}
      {{#if isProjectEditableBy currentDoc currentUser._id}}
        <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-job"></span></a>
        <a href=""><span class="glyphicon glyphicon-minus text-danger btn-delete-job"></span></a>
      {{/if}}
    {{/if}}
  </li>
</template>

<template name="addJob">
  {{#if isProjectEditableBy currentDoc currentUser._id }}
      <button id="btn-add-job" class="btn btn-primary btn-round"><span class="text-center glyphicon glyphicon-plus"></span></button>
      {{#if editActive }}
        {{#autoForm id="addJob" schema=jobSchema type="method" meteormethod=(getMethodString currentCollection._name "addJob") doc=currentDoc}}
          <div class="form-group">
            {{> afFieldInput name="job.joblabel" type="text" placeholder="Gesuchte Fähigkeit hinzufügen" }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
            <button type="reset" class="btn btn-default btn-abort-adding"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        {{/autoForm}}
      {{/if}}
  {{/if}}
</template>


<template name="addCourse">
  {{#if $and editActive ($eq currentUser._id currentDoc.owner.userId) }}
    {{#autoForm id="addCourse" schema=addCourseSchema type="method" meteormethod=(getMethodString currentCollection._name "addCourse") doc=currentDoc }}
    <div class="form-group">
      {{> afFieldInput name="courseId" type="select2" options=courseList placeholder="Kurs auswählen" allowClear=true}}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="reset" class="btn btn-default btn-abort-course"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    {{/autoForm}}
  {{ else }}
    {{#if (courseName currentDoc.courseId)}}
      {{courseName currentDoc.courseId}}
      {{#if $eq currentUser._id currentDoc.owner.userId}}
        <a href=""><span class="glyphicon glyphicon-minus text-danger btn-delete-course"></span></a>
      {{/if}}
    {{else}}
      <span class="text-primary"><em>Kurs Eintragen</em></span>
    {{/if}}
    {{#if $eq currentUser._id currentDoc.owner.userId}}
      <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-course"></span></a>

    {{/if}}
  {{/if}}
</template>

<template name="editOccasions">
  {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
    {{#autoForm id="editOccasions" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection }}
      <div class="form-group">
        {{> afFieldInput name="occasions" type="tags" maxTags=10 maxChars=30 trimValue=true placeholder="Kurs, Projektschein oder sonstige Motivation" }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    {{/autoForm}}
  {{ else }}
    {{#if currentDoc.occasions}}
      {{arrayToString currentDoc.occasions}}
    {{else}}
      {{#if isProjectEditableBy currentDoc currentUser._id}}
        <span class="text-primary"><em>Kurs, Projektschein oder sonstige Motivation</em></span>
      {{/if}}
    {{/if}}
    {{#if isProjectEditableBy currentDoc currentUser._id}}
      <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-occasions"></span></a>
    {{/if}}
  {{/if}}
</template>

<template name="supervisor">
  <li class="media">
    <div class="media-left">
      <a href="{{pathFor 'userProfile' _id=this.userId}}">
        <img class="media-object img-circle" src="{{getAvatarURL this.userId "avatar50"}}" alt="Profilbild {{getFullUsername this.userId}}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="{{pathFor 'userProfile' _id=this.userId}}">{{getFullUsername this.userId}}</a>
        {{#if isProjectEditableBy currentDoc currentUser._id}}
          <a href=""><span class="glyphicon glyphicon-minus text-danger btn-delete-supervisor"></span></a>
        {{/if}}
      </h4>
      <p class="text-muted">{{role}}</p>
    </div>
  </li>
</template>

<template name="addSupervisor">
  {{#if isProjectEditableBy currentDoc currentUser._id }}
    <li class="media">
      <div class="media-left">
        <button id="btn-add-supervisor" class="btn btn-primary btn-lg btn-round"><span class="text-center glyphicon glyphicon-plus"></span></button>
      </div>
      <div class="media-body">
        {{#if editActive}}
          {{#autoForm id="addSupervisor" schema=supervisorSchema type="method" meteormethod=(getMethodString currentCollection._name "addSupervisor") doc=currentDoc}}
            <div class="form-group">
              {{> afFieldInput name="supervisor.userId" type="select2" options=userList placeholder="Neuen Betreuer auswählen" allowClear=true}}
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="reset" class="btn btn-default btn-abort-adding"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          {{/autoForm}}
        {{/if}}
      </div>
    </li>
  {{/if}}
</template>

<template name="editDeadline">
  {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
    {{#autoForm id="editDeadline" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection }}
      <div class="form-group">
        {{> afFieldInput name="deadline" type="bootstrap-datepicker" placeholder="Deadline" }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    {{/autoForm}}
  {{ else }}
    {{#if currentDoc.deadline}}
      {{readableDate currentDoc.deadline}}
    {{else}}
      {{#if isProjectEditableBy currentDoc currentUser._id}}
        <span class="text-primary"><em>Wann muss das Projekt fertig sein?</em></span>
      {{/if}}
    {{/if}}
    {{#if isProjectEditableBy currentDoc currentUser._id}}
      <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-deadline"></span></a>
    {{/if}}
  {{/if}}
</template>

<template name="editBeginning">
  {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
    {{#autoForm id="editBeginning" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection }}
      <div class="form-group">
        {{> afFieldInput name="beginning" type="bootstrap-datepicker" placeholder="Projekt Beginn" }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    {{/autoForm}}
  {{ else }}
    {{#if currentDoc.beginning}}
      {{readableDate currentDoc.beginning}}
    {{else}}
      {{#if isProjectEditableBy currentDoc currentUser._id}}
        <span class="text-primary"><em>Wann fängt das Projekt an?</em></span>
      {{/if}}
    {{/if}}
    {{#if isProjectEditableBy currentDoc currentUser._id}}
      <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-beginning"></span></a>
    {{/if}}
  {{/if}}
</template>

<template name="editOwnerRole">
  <li class="media">
    <div class="media-left">
      <a href="{{pathFor 'userProfile' _id=currentDoc.owner.userId}}">
        <img class="media-object img-circle" src="{{getAvatarURL currentDoc.owner.userId "avatar50"}}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="{{pathFor 'userProfile' _id=currentDoc.owner.userId}}">{{getFullUsername currentDoc.owner.userId}}</a>
      </h4>
      <p class="text-muted">
        {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
          {{#autoForm id="editOwnerRole" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection }}
            <div class="form-group">
              {{> afFieldInput name="ownerRole" type="text" placeholder="Deine Aufgaben im Projekt" }}
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="reset" class="btn btn-default btn-abort-editing"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          {{/autoForm}}
        {{ else }}
          Projektleiter
          {{#if currentDoc.ownerRole}}
            , {{currentDoc.ownerRole}}
          {{else}}
            {{#if isProjectEditableBy currentDoc currentUser._id}}
              <span class="text-primary"><em>, weitere Aufgaben im Projekt</em></span>
            {{/if}}
          {{/if}}
          {{#if isProjectEditableBy currentDoc currentUser._id}}
            <a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-owner"></span></a>
          {{/if}}
        {{/if}}
      </p>
    </div>
  </li>
</template>

<template name="editTeamCommunication">
  {{#if $and editActive (isProjectEditableBy currentDoc currentUser._id) }}
    <div class="table table-striped">
      <div class="table-body">
        {{#each item in currentDoc.teamCommunication}}
          {{> editTeamCommItem medium=item.medium url=item.url isPrivate=item.isPrivate currentDoc=currentDoc currentCollection=currentCollection slot=@index}}
        {{/each}}
        {{>addTeamCommItem}}
      </div>
    </div>
    <button class="btn btn-primary btn-abort-editing">Speichern</button>
  {{else}}
    <ul class="list-inline">
      {{#each item in currentDoc.teamCommunication }}
        <li>
          {{#if $or ($not item.isPrivate) (isTeamMember currentUser._id currentDoc.team) }}
            <a href="{{item.url}}">{{item.medium}}</a>
          {{else}}
            {{item.medium}}
          {{/if}}
        </li>
      {{/each}}
      {{#if isProjectEditableBy currentDoc currentUser._id}}
        <li><a href="#"><span class="glyphicon glyphicon-pencil text-primary btn-edit-teamcomm"></span></a></li>
      {{/if}}
    </ul>
  {{/if}}
</template>

<template name="editTeamCommItem">
  {{#autoForm id="editTeamCommItem" class="table-row" type="method-update" singleMethodArgument=true meteormethod=(getMethodString currentCollection._name "updateEditable") doc=currentDoc collection=currentCollection autosave=true setArrayItems=true}}
    <div class="table-cell">
      {{> afFieldInput name=teamCommMediumField type="select2" options=mediumOptions placeholder="Kollaborations-Mittel" }}
    </div>
    <div class="table-cell">
      {{> afFieldInput name=teamCommUrlField type="url" placeholder="URL" }}
    </div>
    <div class="table-cell">
      {{> afFieldInput name=teamCommIsPrivateField type="boolean-checkbox" label="schemaLabel"}}
    </div>
    <div class="table-cell">
      <button class="btn btn-danger btn-delete-teamcomm"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
  {{/autoForm}}
</template>

<template name="addTeamCommItem">
  {{#autoForm id="addTeamCommItem" class="table-row" schema=teamCommSchema type="method" meteormethod=(getMethodString currentCollection._name "addTeamComm") doc=currentDoc}}
    <div class="table-cell">
      {{> afFieldInput name="teamComm.medium" type="select2" options=mediumOptions placeholder="Neues Team-Kommunikationsmittel" }}
    </div>
    <div class="table-cell">
      {{> afFieldInput name="teamComm.url" type="text" placeholder="Link"}}
    </div>
    <div class="table-cell">
      {{> afFieldInput name="teamComm.isPrivate" type="boolean-checkbox" label="schemaLabel"}}
    </div>
    <div class="table-cell">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="reset" class="btn btn-default btn-abort-adding"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  {{/autoForm}}
</template>
