/*
.ellipsis-tags {
  width: 90%;
}*/

.jobs-expanded {
  display: block;
}

.jobs-collapsed {
  display: none;
}

.remaining-member {
  display: inline-block;
  vertical-align: middle;
}

.jobs-box {
  border: 1px solid #eee;
  position: relative;
  /*height: 230px;*/
  z-index: 1;
  margin-bottom: 20px;
}

.jobs-box > .container {
  padding-top: 15px;
  padding-bottom: 5px;
  width: inherit;
}

.jobs-box-header {
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
}

.jobs-box-header > span {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.remaining-member > a.text-info:hover {
  text-decoration: none;
}
.circle30-remaining-members {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  /*vertical-align: middle;*/
}
.circle20-remaining-members {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  /*vertical-align: middle;*/
}

.title-1row {
  /*max-height: 28px;*/
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.title-2row {
  /*max-height: 54px;*/
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.subtitle-2row {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.hr-top {
  margin-bottom: 7px;
}

.hr-bottom {
  margin-top: 7px;
}

.member-icons-box {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  background-color: white;
  border-top-left-radius: 2px;
}

.member-icons {
  margin: 0;
}

.cover {
  position: relative;
  display: block;
}

.panel-body > h3 {
  margin-top: 0;
}

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #ffffff;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}


.post-module .thumbnailCover img {
  display: block;
  width: 100%;
  margin-left: auto;
    margin-right: auto;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}


.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 30px;

}
.post-module .post-content .category {
  position: absolute;
  top: -15px;
  right: 0px;
  border-top:1px;
  box-shadow: inset 0px 0.5px 0px #bcbcbc;
  background: rgb(235, 235, 235);
  padding: 5px 7.5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}



.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #727272;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.post-module .post-content .description2 {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

.hover .post-content .description2 {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
