<template name="projectEdit">
  <h2 id="title" class="editable" data-type="text" data-pk="{{_id}}" data-placeholder="Titel des Projekts eingeben" data-emptytext="Hier klicken und Titel des Projektes eingeben" data-value="{{title}}">
    {{title}}
  </h2>
  <h4>{{> editableText collection="projects" field="subtitle"}}</h4>
  <!--
  {{#autoForm id="projectEdit" doc=this collection=getProjectsCollection type="update"}}
  <fieldset>
      <legend>Projekt bearbeiten</legend>
      {{> afQuickField name="title" }}
      {{> afQuickField name="subtitle" }}
      {{> afQuickField name="pictures" initialCount=5 minCount=5 maxCount=5}}
      {{> afQuickField name="description" rows=6 }}
      {{> afQuickField name="deadline" }}
      {{> afQuickField name="tags" }}
      {{> afQuickField name="jobs" }}
      {{> afQuickField name="contact" rows=3 }}
      {{> afQuickField name="occasions" }}
      {{> afQuickField name="supervisors" }}
    </fieldset>
    <button type="submit" class="btn btn-primary">Speichern</button>
  {{/autoForm}}
-->
</template>