<template name="projectDetails">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
                {{> editTitle currentDoc=this collection=getProjectsCollection }}
              </h1>
          </div>
      </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-8 col-lg-8">
              <div class="panel panel-default">
                <div class="panel-header">
                    <div class="row">
                      <div class="col-sm-12">
                        {{#if getEditMode}}
                          {{> uploadFormCrop slot=slot pictures=pictures projectId=_id coverImg=this.coverImg}}
                          {{#if $eq coverImg null}}
                            {{> previewPlaceholder}}
                              {{else}}
                                {{#if getRefreshPreview}}
                                  {{#if $eq coverImg result}}
                                      {{> deleteImageButton slot=slot pictures=pictures projectId=_id coverImg=this.coverImg }}
                                      {{> titleImage coverImg=coverImg}}
                                  {{else}}
                                    {{#if result}}
                                      {{> deleteImageButton slot=slot pictures=pictures projectId=_id coverImg=this.coverImg}}
                                      {{> setTitleImageButton slot=slot pictures=pictures projectId=_id coverImg=this.coverImg}}
                                      {{> galleryPreview result}}
                                    {{else}}
                                      {{> previewPlaceholder}}
                                    {{/if}}
                                  {{/if}}


                                {{else}}
                                  {{getFirstImageId}}

                                  {{#if $eq coverImg result}}
                                      {{> deleteImageButton slot=slot pictures=pictures projectId=_id coverImg=this.coverImg }}
                                      {{> galleryPreview result}}
                                  {{else}}
                                    {{> deleteImageButton slot=slot pictures=pictures projectId=_id coverImg=this.coverImg }}
                                    {{> setTitleImageButton slot=slot pictures=pictures projectId=_id coverImg=this.coverImg}}
                                    {{> galleryPreview result}}
                                  {{/if}}
                                {{/if}}
                              {{/if}}


                        {{else}}
                          {{#if $eq coverImg null}}

                          {{else}}
                            {{#if getRefreshPreview}}
                              {{> galleryPreview result}}
                            {{else}}
                              {{getFirstImageId}}
                              {{> galleryPreview result}}
                            {{/if}}
                          {{/if}}
                        {{/if}}


                      </div>
                    </div>
                </div> <!-- /.panel-header -->

                  <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">

                      <ul class="list-inline thumbnails">
                          {{#if getEditMode}}
                            {{#each image in pictures}}
                              <div class="mergeInputImage">
                             <!--{{>uploadFormCrop slot=1 pictures=pictures projectId=_id }}
                                 {{>uploadFormCrop slot=2 pictures=pictures projectId=_id }}
                                 {{>uploadFormCrop slot=3 pictures=pictures projectId=_id }}
                                 {{>uploadFormCrop slot=4 pictures=pictures projectId=_id }}-->
                                  {{#if $eq image null}}
                                    <li>
                                      <button data-value="{{image}}" data-slot={{@index}} type="button" class="edit_button">
                                        <div class="well thumbnail-placeholder"></div>
                                      </button>
                                    </li>
                                  {{else}}
                                    <li>
                                      <button data-value="{{image}}" data-slot={{@index}} type="button" class="edit_button ">
                                        <img class="img-responsive "  src= {{getImgURL image "thumbnail115"}} alt="">
                                      </button>
                                    </li>
                                  {{/if}}
                                </div>
                            {{/each}}
                          {{else}}
                            {{#each image in pictures}}
                              {{#if image }}
                                <li>
                                  <button data-value="{{image}}" data-slot={{@index}} type="button" class="edit_button ">

                                    <img class="img-responsive" src= {{getImgURL image "thumbnail115"}} alt="">

                                  </button>
                                </li>
                              {{else}}

                              {{/if}}
                            {{/each}}
                          {{/if}}

                      </ul>

                      {{#if $eq currentUser._id owner.userId}}
                        {{#if getEditMode}}
                          <button id="finished-button" class="btn btn-primary navbar-btn navbar-right">Fertig</button>
                        {{else}}
                          <button id="edit-gallery-button" class="btn btn-primary navbar-btn navbar-right">Gallerie bearbeiten</button>

                        {{/if}}


                      {{/if}}
                    </div> <!-- /.col-sm-12 gallery thumbnails -->
                  </div> <!-- /.row -->


                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Beschreibung</h3>
                      <p>{{description}}</p>
                    </div> <!-- /.col description -->
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Tags</h3>
                      <ul class="list-inline">
                        {{#each tag in tags}}
                          <li><span class="label label-default">{{tag}}</span></li>
                        {{/each}}
                      </ul>
                    </div> <!-- /.col Tags -->

                  </div> <!-- /.row Tags -->

                </div> <!-- /.panel-body -->
              </div> <!-- /.panel -->
            </div> <!-- /.col-sm-10 -->

            <div class="col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Team</h2>
                </div>

                <div class="panel-body">
                  <ul class="media-list">
                    <li class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object img-circle" src="http://lorempixel.com/50/50/people/1" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="#">{{getFullUsername owner.userId}}</a></h4>
                        <p class="text-muted">Projektleiter</p>
                      </div>
                    </li>
                    {{#each member in team}}
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" src="http://lorempixel.com/50/50/people/2" alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="#">{{getFullUsername member.userId}}</a></h4>
                          <p class="text-muted">{{member.role}}</p>
                        </div>
                      </li>
                    {{/each}}

                  </ul>
                </div>
              </div> <!-- /.panel-default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Gesuchte Fähigkeiten</h2>
                </div>
                <div class="panel-body">
                  <ul>
                    {{#each job in jobs}}
                      <li>{{job.joblabel}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div> <!-- /.panel Wanted Skills -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Kontakt</h2>
                </div>
                <div class="panel-body">
                  <ul class="list-unstyled">
                    {{#each contact in contacts}}
                      <li><span class="glyphicon glyphicon-envelope"></span> {{contact.medium}}: {{contact.approach}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div> <!-- /.panel Contact -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Details</h2>
                </div>
                <div class="panel-body">
                  <dl class="dl">
                    <dt>Projektanlass</dt>
                    <dd>{{arrayToString occasions}}</dd>
                    <dt>Betreuer</dt>
                    <dd>{{arrayToString supervisors}}</dd>
                    <dt>Deadline</dt>
                    <dd>{{readableDate deadline}}</dd>

                  </dl>
                </div>
              </div> <!-- /.panel Wanted Skills -->

            </div>

        </div><!-- /.row -->
      </div> <!-- /.container -->

      <hr>

      <footer>
        <p>&copy; 2016 HAW Projektor</p>
      </footer>
</template>
