<template name="search">
  <div class="page-header clearfix">
    <h4 class="pull-left">Projects</h4>
    <div class="pull-right">
      <input type="text" name="search" class="form-control" width="250px" placeholder="Find an project...">
    </div>
  </div>

  <ul class="list-group">
    {{#if searching}}
      {{> loading}}
    {{else}}
      {{#each projects}}
        <li class="list-group-item clearfix">
          <span class="pull-left">{{title}} by <strong>{{subtitle}}</strong></span>
          <span class="pull-right"></span>
        </li>
      {{else}}
        <p class="alert alert-warning">Nothing found for {{query}}. Sorry, bub.</p>
      {{/each}}
    {{/if}}
  </ul>
</template>