<template name="userProfile">
  
    {{> uploadForm}}
    <img src= {{getAvatarURL currentUser._id "avatar"}} />
    <h1>{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}<br><span>{{currentUser.profile.study}}</span></h1>
    <br>
  
  <div class="row">
    <div class="col-sm-12">
        {{log this}}
      {{> editAboutMe currentDoc=this currentCollection=getUserCollection }}
     </div> 
  </div>



        <!--{{#if $eq currentUser._id this._id}}
            {{>editProfile}}

        {{else}}

            {{>normalProfile}}

        {{ /if }}-->


</template>

<!--<template name="editProfile">



        {{> uploadForm}}
        <img src= {{getAvatarURL currentUser._id "avatar"}} />
        <h1>{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}<br><span>{{currentUser.profile.study}}</span></h1>
        <br>
        <p class="aboutMe"><h3>About me:</h3>{{currentUser.profile.aboutMe}} </p>
        <p><h3>Skills:</h3>{{currentUser.profile.skills}} </p>

  <div class="project-cards">
    <ul>

        {{#each projects}}

          {{#if $eq currentUser._id owner.userId}}

            {{>projectCard}}

          {{ /if }}


        {{/each}}

    </ul>

  </div>

</template>


<template name="normalProfile">
    <aside class="profile-card">
      <header>

        <a target="_blank" href="#">
          <img src="/img/samples/member_icon02.png" class="hoverZoomLink" >
        </a>

        <h1>
              {{currentUser.lastname}}

              </h1>

        <h2>
                Better Visuasls
              </h2>

      </header>

      <div class="profile-bio">

        <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p>

      </div>


    </aside>
</template> -->
