<template name="userProfile">
  <ol class="breadcrumb">
    <li><a href="{{pathFor 'landingPage'}}">Startseite</a></li>
    <li class="active"> Profil</li>
  </ol>
  {{#if $eq currentUser._id this._id}}
    {{> uploadFormCrop type="avatar" currentDoc=this}}
    <button id="delete-avatar-button" class="btn btn-primary navbar-btn navbar-right">Avatar Löschen</button>
  {{/if}}
    <img src= {{getAvatarURL this._id "avatar50"}} />
    <h1>{{this.profile.fullname}}<br><span>{{studyCourseName this.profile.studyCourse}}</span></h1>
    <p>{{departmentName this.profile.studyCourse}}</p>
    <p>Fakultät {{facultyName this.profile.studyCourse}}</p>
    <br>

  <div class="row">
    <div class="col-sm-12">
      {{> editAboutMe currentDoc=this currentCollection=getUserCollection }}
     </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
       <p>{{> editSkills currentDoc=this currentCollection=getUserCollection }}</p>
    </div> <!-- /.col Tags -->

  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Kontakt</h2>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          {{#each contact in this.profile.contacts}}
            {{>contactItemUser medium=contact.medium approach=contact.approach currentDoc=this currentCollection=getUserCollection slot=@index}}
          {{/each}}
          {{> addContactUser currentDoc=this currentCollection=getUserCollection }}
        </ul>
      </div>
    </div> <!-- /.panel Link -->
  <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Links</h2>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          {{#each link in this.profile.links}}
            {{>linkItem medium=link.medium approach=link.approach currentDoc=this currentCollection=getUserCollection slot=@index}}
          {{/each}}
          {{> addLink currentDoc=this currentCollection=getUserCollection }}
        </ul>
      </div>
    </div> <!-- /.panel Link -->
  <!-- <div class="project-cards">
    <div class="container">
      <div class="row">
        <div>Meine erstellten Projekte</div>
        <ul>
            {{#each project in projects}}
              {{#if $eq this._id project.owner.userId}}
                <div class="col-lg-3">
                {{#if project.coverImg}}
                  {{>projectCard currentDoc=project}}
                {{else}}
                  {{>projectCardCoverless currentDoc=project}}
                {{/if}}
                </div>
              {{ /if }}
            {{/each}}
        </ul>
      </div>
    </div>
  </div> -->
  <div class="project-cards">
    <div class="container">
      <div class="row">
        <div>Meine Projekte</div>
        <ul>
            {{#each project in projects}}
              {{#each member in project.team}}
                {{#if $eq this._id member.userId}}
                  <div class="col-lg-3">
                  {{#if project.coverImg}}
                    {{>projectCard currentDoc=project}}
                  {{else}}
                    {{>projectCardCoverless currentDoc=project}}
                  {{/if}}
                  </div>
                {{ /if }}
              {{/each}}
            {{/each}}
          </ul>
        </div>
     </div>
  </div>
        <!--{{#if $eq currentUser._id this._id}}
            {{>editProfile}}

        {{else}}

            {{>normalProfile}}

        {{ /if }}-->


</template>

<!--<template name="editProfile">



        {{> uploadForm}}
        <img src= {{getAvatarURL currentUser._id "avatar50"}} />
        <h1>{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}<br><span>{{currentUser.profile.study}}</span></h1>
        <br>
        <p class="aboutMe"><h3>About me:</h3>{{currentUser.profile.aboutMe}} </p>
        <p><h3>Skills:</h3>{{currentUser.profile.skills}} </p>

  <div class="project-cards">
    <ul>

        {{#each projects}}

          {{#if $eq currentUser._id owner.userId}}

            {{>projectCard}}

          {{ /if }}


        {{/each}}

    </ul>

  </div>

</template>


<template name="normalProfile">
    <aside class="profile-card">
      <header>

        <a target="_blank" href="#">
          <img src="/img/samples/member_icon02.png" class="hoverZoomLink" >
        </a>

        <h1>
              {{currentUser.lastname}}

              </h1>

        <h2>
                Better Visuasls
              </h2>

      </header>

      <div class="profile-bio">

        <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p>

      </div>


    </aside>
</template> -->
