<template name="userProfile">
  
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/style.css">

    <aside class="profile-card">
      <header>
        <!-- here’s the avatar -->
        <a target="_blank" href="#">
          <img src="/img/samples/member_icon02.png" class="hoverZoomLink" >
        </a>

        <!-- the username -->
        <h1>
                {{currentUser.username}}
              </h1>

        <!-- and role or location -->
        <h2>
                Better Visuasls
              </h2>

      </header>

      <!-- bit of a bio; who are you? -->
      <div class="profile-bio">

        <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p>

      </div>

      <!-- some social links to show off -->
      <ul class="profile-social-links">
        <li>
          <a target="_blank" href="https://www.facebook.com/creativedonut">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/dropyourbass">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/vipulsaxena">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.behance.net/vipulsaxena">

            <i class="fa fa-behance"></i>
          </a>
        </li>
      </ul>
    </aside>
</template>