<template name="footer">
  <footer class="footer">
    <div class="container text-center">
      <span><strong>Feedback und Support:</strong>
        <a data-name="projektor" data-domain="mt.haw-hamburg" data-tld="de" href="#" class="cryptedmail" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld;return false"></a>
      </span>
    </div>
  </footer>
<script>
  var lastScrollTop = 0;
  $(window).scroll(function() {
    var st = $(this).scrollTop();
    if (st > lastScrollTop)
     {
       $('.footer').fadeOut();
     }
    else
     {
       $('.footer').fadeIn();
     }
     lastScrollTop = st;
   });
 </script>
  <div id="loader">

    <a href="#" class="load-more--loading"></a>
  </div>
</template>
