<template name="landingPage">

  <ol class="breadcrumb">
    <li class="active">Startseite</li>
  </ol>

  <div id="container">
  	<ul class="tags">
      <form class="navbar-form navbar-right">
        <div class="form-group searchBoxFixed" style="display:inline">
          <div class="input-group">
            <input type="text" id="listExName" class="form-control" placeholder="Search">
          </div>
        </div>
        <button type="submit" id="listExAdd" class="btn btn-primary">Suchen</button>
        <button class="btn btn-primary listRemove" type="button" title="Delete tags">
          Filter Löschen <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </form>
      <div class="tagsRange">
        {{#each tags }}
          {{#if $eq this ""}}
          {{else}}
            <li class="addedTag">{{this}}<span class="tagRemove listExRemove">x</span></li>
          {{/if}}
        {{/each}}
      </div>
  	</ul>
  </div>
    <!-- <ul class="tags unstyled">
      {{#each tags }}
        {{#if $eq this ""}}

        {{else}}
          <li>
            <a class="btn listExRemove" title="Remove this tag">
              {{this}} <span>x</span>
            </a>
          </li>
        {{/if}}
      {{/each}}


    </ul> -->
  <!-- {{> EasySearch.Input index=projectsIndex }}
  <div class="project-cards">
    <div class="row">
      {{#if isReady}}
      {{log documents}}
        {{#each documents}}
          <div class="col-lg-3">
            {{#if this.coverImg}}
              {{>projectCard currentDoc=this}}
            {{else}}
              {{>projectCardCoverless currentDoc=this}}
            {{/if}}
          </div>
        {{/each}}
        {{> defaultBootstrapPaginator pagination=templatePagination limit=8 containerClass="text-center" onClick=clickEvent}}
      {{else}}
          Loading...
      {{/if}}
    </div>
  </div>
  {{#EasySearch.IfInputEmpty index=projectsIndex}}
    <div class="project-cards">
      <div class="row">
        {{#each project in projects}}
          <div class="col-lg-3">
            {{#if project.coverImg}}
              {{>projectCard currentDoc=project}}
            {{else}}
              {{>projectCardCoverless currentDoc=project}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    {{#EasySearch.IfNoResults index=projectsIndex}}
      <h3>Leider keine Projekte gefunden :( </h3>
    {{/EasySearch.IfNoResults}}

    {{#EasySearch.IfSearching index=projectsIndex}}
      Suchen.....
    {{/EasySearch.IfSearching}}

    <div class="project-cards">
      <div class="container">
        <div class="row">
        {{#EasySearch.Each index=projectsIndex }}
          <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1">
            {{#if coverImg}}
              {{>projectCard currentDoc=(originalDoc this)}}
            {{else}}
              {{>projectCardCoverless currentDoc=(originalDoc this)}}
            {{/if}}
          </div>
        {{/EasySearch.Each}}
        </div>
      </div>
    </div>
  {{/EasySearch.IfInputEmpty}} -->
    {{#each navItems}}
      {{> UI.dynamic template=this data=@index}}
    {{/each}}
    {{#if endOfDocuments}}
      <div class="col-md-12">
        <div class="col-xs-12 col-md-2 col-md-offset-5">
    	     <a href="#" class="load-more btn btn-primary" id="viewMore">Mehr Anzeigen</a>
        </div>
      </div>
    {{/if}}
  <!--<select class="sorting">
    <option value="relevance">Relevance</option>
    <option value="newest">Newest</option>
    <option value="bestScore">Score</option>
  </select>

  <td>
    <select id="sortStatus">
        <option value="new">New -> Old</option>
        <option value="old">old -> New</option>
        <option value="deadlineNear">Deadline nah</option>
        <option value="deadlineFar">Deadline fern</option>
        <option value="relevanz">Relevanz</option>
    </select>
  </td>
  <div class="project-cards">
    <div class="container">
      <div class="row">
        {{#each project in projects}}
          <div class="col-lg-3">
            {{#if project.coverImg}}
              {{>projectCard currentDoc=project}}
            {{else}}
              {{>projectCardCoverless currentDoc=project}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  </div> -->
</template>

<template name="loadCards">
  {{#each documents}}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 containerFlip">
      {{>projectCard currentDoc=this}}
    </div>
  {{/each}}
</template>
