<template name="landingPage">
  <ol class="breadcrumb">
    <li class="active">Startseite</li>
  </ol>
  <div class='row'>
    <div class='col-md-6'>
      <div class='search-box'>
        <form class='search-form new-tag'>
          <input id="listExName" class='form-control' placeholder='ex: Ruby, Webdesign, Java, CSS, Javascript, Node, C#, SQL, etc.' type='text'>
          <button id="listExAdd" class='btn btn-link search-btn'>
            <i class='glyphicon glyphicon-search'></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="tags unstyled">
      {{#each tags }}
        {{#if $eq this ""}}

        {{else}}
          <li>
            <a class="btn listExRemove" title="Remove this tag">
              {{this}} <span>x</span>
            </a>
          </li>
        {{/if}}
      {{/each}}

    </ul>
  </div>
  <!--{{> EasySearch.Input index=projectsIndex }}-->

  {{#EasySearch.IfInputEmpty index=projectsIndex}}
    <div class="project-cards">
      <div class="container">
        <div class="row">
          {{#each project in projects}}
            <div class="col-lg-3">
              {{#if project.coverImg}}
                {{>projectCard currentDoc=project}}
              {{else}}
                {{>projectCardCoverless currentDoc=project}}
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    {{#EasySearch.IfNoResults index=projectsIndex}}
      Keine Ergebnise!
    {{/EasySearch.IfNoResults}}

    {{#EasySearch.IfSearching index=projectsIndex}}
      Suchen.....
    {{/EasySearch.IfSearching}}

    <div class="project-cards">
      <div class="container">
        <div class="row">
        {{#EasySearch.Each index=projectsIndex }}
          <div class="col-lg-3">
            {{#if coverImg}}
              {{>projectCard currentDoc=(originalDoc this)}}
            {{else}}
              {{>projectCardCoverless currentDoc=(originalDoc this)}}
            {{/if}}
          </div>
        {{/EasySearch.Each}}
        </div>
      </div>
    </div>
  {{/EasySearch.IfInputEmpty}}


  <!--<select class="sorting">
    <option value="relevance">Relevance</option>
    <option value="newest">Newest</option>
    <option value="bestScore">Score</option>
  </select>-->



  <!-- <td>
    <select id="sortStatus">
        <option value="new">New -> Old</option>
        <option value="old">old -> New</option>
        <option value="deadlineNear">Deadline nah</option>
        <option value="deadlineFar">Deadline fern</option>
        <option value="relevanz">Relevanz</option>
    </select>
  </td> -->
  <!-- <div class="project-cards">
    <div class="container">
      <div class="row">
        {{#each project in projects}}
          <div class="col-lg-3">
            {{#if project.coverImg}}
              {{>projectCard currentDoc=project}}
            {{else}}
              {{>projectCardCoverless currentDoc=project}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  </div> -->
</template>
