<template name="navigationBar">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header navbar-projektor-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-blackboard"></span> HAW Projektor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {{#if checkIfDraft }}
            <button class="btn btn-warning navbar-btn create-project-btn" disabled={{isDraftRendered}}>Fortfahren</button>
          {{else}}
            <button class="btn btn-success navbar-btn create-project-btn">Neues Projekt erstellen</button>
          {{/if}}
            <a href="{{pathFor 'courses'}}"><button class="btn btn-primary navbar-btn">Meine Kurse</button></a>
          {{#if currentUser}}
            <a href="{{pathFor 'users'}}"><button class="btn btn-primary navbar-btn">Mitglieder</button></a>
          {{/if}}

          <ul class="nav navbar-nav navbar-right">
            {{> ldapLoginButtons }}
          </ul>

          <label class="text-muted">Test: </label>
          {{> loginButtons }}
        </div><!--/.navbar-collapse -->
      </div> <!-- /.container -->
    </nav>
</template>
