<template name="userList">
  {{#onlyIfLoggedIn}}
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'landingPage'}}">Startseite</a></li>
      <li class="active">Mitglieder</li>
    </ol>

    <!-- <div id="container">
    	<ul class="tags">
        <form class="navbar-form navbar-right">
          <div class="form-group searchBoxFixed" style="display:inline">
            <div class="input-group">
              <input type="text" id="listExName" class="form-control" placeholder="Search">
            </div>
          </div>
          <button type="submit" id="listExAdd" class="btn btn-primary">Suchen</button>
        </form>
        <div class="tagsRange">
        {{#each tags }}
          {{#if $eq this ""}}

          {{else}}
            <li class="addedTag">{{this}}<span class="tagRemove listExRemove">x</span></li>
          {{/if}}
        {{/each}}
      </div>

    	</ul>
    </div> -->

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Profil</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Studiengang</th>
          <th>Interessen</th>
          <th>Kontakt</th>
          <th>Rolle</th>
          <th>Projektsuchend</th>
        </tr>
      </thead>
      <tbody>
        {{#each userItems}}
          {{> UI.dynamic template=this data=@index}}
        {{/each}}
      </tbody>
    </table>
    {{#if endOfUsers}}
      <div class="col-md-12">
        <div class="col-xs-12 col-md-2 col-md-offset-5">
           <a href="#" class="load-more btn btn-primary" id="viewMore">Mehr Anzeigen</a>
        </div>
      </div>
    {{/if}}
  {{/onlyIfLoggedIn}}
</template>

<template name="loadUser">
  {{#each user in documents}}
    {{>userListItem
      userId=user._id
      avatarURL=(getAvatarURL user._id "avatar50")
      firstName=user.profile.firstname
      lastName=user.profile.lastname
      studyCourse=(studyCourseName user.profile.studyCourseId user.profile.departmentId user.profile.facultyId)
      interests=user.profile.skills
      contacts=user.profile.contacts
      role=user.profile.role
    }}
  {{/each}}
</template>

<template name="userListItem">
  <tr>
    <td>
      <a href="{{pathFor 'userProfile' userId=this.userId uniqueName=(getEmailName this.userId) }}"><img src={{avatarURL}}></a>
    </td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{studyCourse}}</td>
    <td>
      {{#each interest in interests}}
        <span class="label label-default">{{interest}}</span>
      {{/each}}
    </td>
    <td>
      {{#each contact in contacts}}
        <a href="{{contact.medium}}">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
      {{/each}}
    </td>
    <td>{{role}}</td>
    <td>&lt;ja/nein&gt;</td>
  </tr>
</template>
